.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9fc;
}

.login__container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  width: min(90%, 450px);
  text-align: center;
  border: 1px solid #e6e6e6;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.login__container:hover {
  transform: translateY(-15px);
}

.login__message {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
  margin: 10px 10% 0;
}

@media screen and (max-width: 786px) {
  .login__container {
    padding: 30px;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.login__form-group {
  margin-bottom: 20px;
}

.login__label {
  display: block;
  margin-bottom: 7.5px;
  font-size: 12.5px;
  font-weight: 500;
  color: #555;
  text-align: left;
}

.login__input {
  outline: none;
  width: 100%;
  padding: 11px 20px;
  font-size: 15px;
  border: 1px solid #dcdcdc;
  background-color: #f9f9fc;
  color: #333;
  border-radius: 6px;
}

.login__input::placeholder {
  color: #999;
}

.login__button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login__error-message {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}
